/*iconos para redes sociales*/
a.btn-social,
.btn-social {
    border-radius: 50%;
    color: #ffffff !important;
    height: 54px;
    line-height: 54px;
    margin: 6px 4px;
    text-align: center;
    text-decoration: none;
    width: 54px;
    display: inline-flex;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}

.btn-social i {
    transition: 0.4s all;
}

.btn-social:hover i {
    transform: scale(1.3);
}

.btn-social.btn-lg {
    font-size: 45px;
    height: 72px;
    width: 72px;
    margin: 0px 2px;
    padding-top: 14px;
}

.btn-social.btn-md {
    font-size: 30px;
    height: 52px;
    width: 52px;
    margin: 0px 2px;
    padding-top: 11px;
}

.btn-social.btn-sm {
    font-size: 13px;
    height: 36px;
    line-height: 18px;
    margin: 0px 2px;
    width: 36px;
    padding-top: 12px;
}

.btn-social.btn-xs {
    font-size: 14px;
    height: 30px;
    width: 30px;
    line-height: 12px;
    margin: 2px 2px;
    padding-top: 8px;
}

.btn-behance {
    background-color: #1769ff !important;
}

.btn-behance:hover {
    background-color: #4a8aff !important;
}

.btn-bitbucket {
    background-color: #205081 !important;
}

.btn-bitbucket:hover {
    background-color: #2a69aa !important;
}

.btn-codepen {
    background-color: #76daff !important;
}

.btn-codepen:hover {
    background-color: #a9e8ff !important;
}

.btn-deviantart {
    background-color: #4e6252 !important;
}

.btn-deviantart:hover {
    background-color: #657e6a !important;
}

.btn-digg {
    background-color: #000 !important;
}

.btn-digg:hover {
    background-color: #1a1a1a !important;
}

.btn-dribbble {
    background-color: #ea4c89 !important;
}

.btn-dribbble:hover {
    background-color: #ef7aa7 !important;
}

.btn-dropbox {
    background-color: #007ee5 !important;
}

.btn-dropbox:hover {
    background-color: #1998ff !important;
}

.btn-facebook {
    background-color: #1877F2 !important;
}

.btn-facebook:hover {
    background-color: #0f71f1 !important;
}

.btn-flickr {
    background-color: #0063dc !important;
}

.btn-flickr:hover {
    background-color: #107cff !important;
}

.btn-foursquare {
    background-color: #ef4b78 !important;
}

.btn-foursquare:hover {
    background-color: #f37a9b !important;
}

.btn-github {
    background-color: #4183c4;
}

.btn-github:hover {
    background-color: #689cd0 !important;
}

.btn-google-plus {
    background-color: #dd4b39;
}

.btn-google-plus:hover {
    background-color: #e47365 !important;
}

.btn-instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    color: white;
    border: 1px solid #cc2366;
}

.btn-instagram:hover {
    background: -moz-linear-gradient(45deg, white 0%, white 25%, white 50%, white 75%, white 100%);
    background: -webkit-linear-gradient(45deg, white 0%, white 25%, white 50%, white 75%, white 100%);
    background: linear-gradient(45deg, white 0%, white 25%, white 50%, white 75%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='white', GradientType=1);
    color: #cc2366 !important;
    border: 1px solid #cc2366;
}

.btn-jsfiddle {
    background-color: #4679bd;
}

.btn-jsfiddle:hover {
    background-color: #6c94ca !important;
}

.btn-lastfm {
    background-color: #e31b23;
}

.btn-lastfm:hover {
    background-color: #e9484e !important;
}

.btn-linkedin {
    background-color: #0976b4;
}

.btn-linkedin:hover {
    background-color: #0b96e5;
}

.btn-paypal {
    background-color: #253b80 !important;
}

.btn-paypal:hover {
    background-color: #304da8 !important;
}

.btn-pinterest {
    background-color: #cc2127;
}

.btn-pinterest:hover {
    background-color: #e04046 !important;
}

.btn-reddit {
    background-color: #ff4500 !important;
}

.btn-reddit:hover {
    background-color: #ff6a33 !important;
}

.btn-skype {
    background-color: #00aff0 !important;
}

.btn-skype:hover {
    background-color: #24c4ff !important;
}

.btn-soundcloud {
    background-color: #f80;
}

.btn-soundcloud:hover {
    background-color: #ffa033 !important;
}

.btn-stack-overflow {
    background-color: #fe7a15;
}

.btn-stack-overflow:hover {
    background-color: #fe9748;
}

.btn-steam {
    background-color: #7da10e;
}

.btn-steam:hover {
    background-color: #a1d012 !important;
}

.btn-stumbleupon {
    background-color: #eb4924 !important;
}

.btn-stumbleupon:hover {
    background-color: #ef7053 !important;
}

.btn-trello {
    background-color: #256a92;
}

.btn-trello:hover {
    background-color: #2f88bb !important;
}

.btn-tumblr {
    background-color: #35465c;
}

.btn-tumblr:hover {
    background-color: #485f7c !important;
}

.btn-twitch {
    background-color: #6441a5;
}

.btn-twitch:hover {
    background-color: #7e5bbe !important;
}

.btn-twitter {
    background-color: #55acee;
}

.btn-twitter:hover {
    background-color: #83c3f3 !important;
}

.btn-vimeo {
    background-color: #1ab7ea;
}

.btn-vimeo:hover {
    background-color: #49c6ee !important;
}

.btn-vine {
    background-color: #00b488;
}

.btn-vine:hover {
    background-color: #00e7af !important;
}

.btn-vk {
    background-color: #45668e;
}

.btn-vk:hover {
    background-color: #587fae !important;
}

.btn-wechat {
    background-color: #98d11c;
}

.btn-wechat:hover {
    background-color: #afe53b !important;
}

.btn-wordpress {
    background-color: #21759b;
}

.btn-wordpress:hover {
    background-color: #2a95c5 !important;
}

.btn-xing {
    background-color: #026466;
}

.btn-xing:hover {
    background-color: #039598 !important;
}

.btn-yahoo {
    background-color: #400191;
}

.btn-yahoo:hover {
    background-color: #5601c4 !important;
}

.btn-yelp {
    background-color: #af0606;
}

.btn-yelp:hover {
    background-color: #e00808 !important;
}

.btn-youtube {
    background-color: #e52d27;
}

.btn-youtube:hover {
    background-color: #ea5955 !important;
}

.btn-email {
    background-color: #44c456;
}

.btn-email:hover {
    background-color: #6bd079 !important;
}

.btn-url {
    background-color: #4480c4;
}

.btn-url:hover {
    background-color: #4b86d3 !important;
}

.btn-snapchat {
    background-color: #d8c72d;
}

.btn-snapchat:hover {
    background-color: #c7bc20 !important;
}

.btn-telegram {
    background-color: #0088cc;
}

.btn-telegram:hover {
    background-color: #0088cc;
}

.btn-gitlab {
    background-color: #E24329;
}

.btn-gilab:hover {
    background-color: #E24329;
}